PORT=<port number>
DATABASE=<database name>
USER=<database user>
PASSWORD=<database password>
HOST=<database host>
# Public URL of the site (canonical, sitemap, Open Graph)
SITE_URL=https://kaamelott.xyz
# Public base URL used to build sound links (defaults to SITE_URL)
URL_API=https://kaamelott.xyz/
