<%- include('./partials/header') %>

<header class="title">
  <h1>Kaamelott</h1>
  <h2>l'API à la volette</h2>
</header>
<div class="command">
  <aside id="quote">
    <button class="button-56" id="getQuote">Get quote</button>
    <p class="quote"></p>
    <p class="author"></p>
  </aside>
  <aside id="sound">
    <button class="button-56" id="getSound">Get sound</button>
    <p class="sound"></p>
    <div class="control">
      <a class="link" href="" target="_blank"></a>
      <a class="link play" id="play" href=""></a>
    </div>
  </aside>
</div>

<%- include('./partials/footer') %>